#top-bar{
    background-color: #4B64F2;
    margin: 0;
    padding:0;
}
#developer-name{
    color:#0D0D0D;
    font-size: 25px;
    vertical-align: 50%;
    padding-left: 10px;
    display: inline;
}
header{
    display: inline;
    margin: 20px;
}
nav{
    display: inline;
}

li{
    list-style-type:none;
    padding: 0;
}

#nav-bar{
    float: right;
}
.bar-links{
    display: inline;
    padding: 20px;
    font-size: 17px;
}
.bar-dash{
    font-family: monospace;
    font-size: 17px;
}

body{
    font-family: monospace;
}
h1{
    text-align: center;
    padding: 50px;
    font-size: 40px;
    color: #0511F2;
    border-bottom: black medium solid;
}
body{
    background-color: #AEB2F2;
}

h3{
    font-size: 30px;
    padding-left: 25px;
}

#projects{
    padding-left: 25px;
}
.projects{
    padding-top: 50px; /* TODO: CONSEGUIR QUE LAS LISTAS NO TENGAN MÁS UN ESPACIO*/
    border-bottom: 1px solid black;
    padding-left: 1px;
}

